//Copyright (C)2014-2021 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8
//Part Number: GW1NSR-LV4CQN48PC7/I6
//Device: GW1NSR-4C
//Created Time: Tue 08 10 15:12:01 2021

IO_LOC "BRDIO[ 0]" 45; IO_PORT "BRDIO[ 0]" PULL_MODE=UP;           // CLK 27 MHz
IO_LOC "BRDIO[ 1]" 10; IO_PORT "BRDIO[ 1]" PULL_MODE=NONE DRIVE=8; // rx_led

IO_LOC "BRDIO[ 4]" 14; IO_PORT "BRDIO[ 4]" PULL_MODE=NONE;      //	Key1	P7-22	1.8v
// 7								//	JTGTCK	P7-21	3.3v
// 4								//	JTGTDO	P7-20	3.3v
// 3								//	JTGTDI	P7-19	3.3v
// 6								//	JTGTMS	P7-18	3.3v
// 00								//	PWR	P7-17	V3.3
// 00								//	PWR	P7-16	V2.5
IO_LOC "BRDIO[ 2]" 44; IO_PORT "BRDIO[ 2]" PULL_MODE=UP;	//	CAM_SCL	P7-15	3.3v  TX
IO_LOC "BRDIO[ 3]" 46; IO_PORT "BRDIO[ 3]" PULL_MODE=NONE;	//	CAM_SDA	P7-14	3.3v  RX
// 1								//	MSPICK	P7-13	3.3v
// 48								//	MSPIDI	P7-12	3.3v
// 47								//	MSPIDO	P7-11	3.3v
IO_LOC "PCPIN[ 0]" 43; IO_PORT "PCPIN[ 0]" PULL_MODE=UP;	//	DVVSYNC	P7-10	3.3v
IO_LOC "PCPIN[ 1]" 42; IO_PORT "PCPIN[ 1]" PULL_MODE=UP;	//	DVHSYNC	P7--9	3.3v
IO_LOC "PCPIN[ 2]" 41; IO_PORT "PCPIN[ 2]" PULL_MODE=UP;	//	DVCLK	P7--8	3.3v
IO_LOC "PCPIN[ 3]" 40; IO_PORT "PCPIN[ 3]" PULL_MODE=UP;	//	PIX9	P7--7	3.3v
IO_LOC "PCPIN[ 4]" 39; IO_PORT "PCPIN[ 4]" PULL_MODE=UP;	//	PIX8	P7--6	3.3v
// 10								//	MODE	P7--5	3.3v
IO_LOC "PCPIN[ 5]" 35; IO_PORT "PCPIN[ 5]" PULL_MODE=UP;	//	HDMTX2P	P7--4	2.5v
IO_LOC "PCPIN[ 6]" 34; IO_PORT "PCPIN[ 6]" PULL_MODE=UP;	//	HDMTX2N	P7--3	2.5v
IO_LOC "PCPIN[ 7]" 32; IO_PORT "PCPIN[ 7]" PULL_MODE=UP;	//	HDMTX1P	P7--2	2.5v
IO_LOC "PCPIN[ 8]" 31; IO_PORT "PCPIN[ 8]" PULL_MODE=UP;	//	HDMTX1N	P7--1	2.5v

IO_LOC "BRDIO[ 5]" 15; IO_PORT "BRDIO[ 5]" PULL_MODE=NONE;      //	Key2	P6-22	1.8v
// 00								//	PWR	P6-21	V5.0
// 00								//	PWR	P6-20	GND
// 00								//	PWR	P6-19	GND
// 00								//	PWR	P6-18	V1.8
// 2								//	MSPICS	P6-17	3.3v
IO_LOC "PCPIN[ 9]" 33; IO_PORT "PCPIN[ 9]" PULL_MODE=UP;	//	DVXCK	P6-16	2.5v
// 9								//	MSPIHD	P6-15	3.3v
// 8								//	MSPIWP	P6-14	3.3v
IO_LOC "PCPIN[10]" 16; IO_PORT "PCPIN[10]" PULL_MODE=UP;	//	PIX6	P6-13	2.5v
IO_LOC "PCPIN[11]" 13; IO_PORT "PCPIN[11]" PULL_MODE=UP;	//	unused	P6-12	3.3v
IO_LOC "PCPIN[12]" 17; IO_PORT "PCPIN[12]" PULL_MODE=UP;	//	PIX2	P6-11	1.8v
IO_LOC "PCPIN[13]" 18; IO_PORT "PCPIN[13]" PULL_MODE=UP;	//	PIX5	P6-10	1.8v
IO_LOC "PCPIN[14]" 19; IO_PORT "PCPIN[14]" PULL_MODE=UP;	//	PIS3	P6--9	1.8v
IO_LOC "PCPIN[15]" 20; IO_PORT "PCPIN[15]" PULL_MODE=UP;	//	PIX4	P6--8	1.8v
IO_LOC "PCPIN[16]" 21; IO_PORT "PCPIN[16]" PULL_MODE=UP;	//	PIX1	P6--7	1.8v
IO_LOC "PCPIN[17]" 22; IO_PORT "PCPIN[17]" PULL_MODE=UP;	//	PIX0	P6--6	1.8v
IO_LOC "PCPIN[18]" 23; IO_PORT "PCPIN[18]" PULL_MODE=UP;	//	PIX7	P6--5	1.8v
// 10								//	MODE	P6--4	1.8v
IO_LOC "PCPIN[19]" 27; IO_PORT "PCPIN[19]" PULL_MODE=UP;	//	HDMTXCP	P6--3	2.5v
IO_LOC "PCPIN[20]" 28; IO_PORT "PCPIN[20]" PULL_MODE=UP;	//	HDMTXCN	P6--2	2.5v
IO_LOC "PCPIN[21]" 29; IO_PORT "PCPIN[21]" PULL_MODE=UP;	//	HDMTX0P	P6--1	2.5v
IO_LOC "PCPIN[22]" 30; IO_PORT "PCPIN[22]" PULL_MODE=UP;	//	HDMTX0N	P6--1	2.5v


