BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
FREQUENCY NET "osc_clk" 100.000000 MHz ;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;

LOCATE COMP "stdby_in" SITE "69" ;
#
LOCATE COMP "BRDIO[0]" SITE "111" ;  # - RX
LOCATE COMP "BRDIO[1]" SITE "112" ;  # - TX
LOCATE COMP "BRDIO[2]" SITE "42" ;   # - RXLED
LOCATE COMP "BRDIO[3]" SITE "43" ;   # - TXLED
LOCATE COMP "BRDIO[4]" SITE "97" ;   # - LED 0
LOCATE COMP "BRDIO[5]" SITE "98" ;
LOCATE COMP "BRDIO[6]" SITE "99" ;
LOCATE COMP "BRDIO[7]" SITE "100" ;
LOCATE COMP "BRDIO[8]" SITE "104" ;
LOCATE COMP "BRDIO[9]" SITE "105" ;
LOCATE COMP "BRDIO[10]" SITE "106" ;
LOCATE COMP "BRDIO[11]" SITE "107" ;  # - LED 7
#


LOCATE COMP "PCPIN[0]" SITE "143" ;   # PT9A	-
LOCATE COMP "PCPIN[1]" SITE "142" ;   # PT9B	-
LOCATE COMP "PCPIN[2]" SITE "141" ;   # PT10A	-
LOCATE COMP "PCPIN[3]" SITE "140" ;   # PT10B	-
LOCATE COMP "PCPIN[4]" SITE "139" ;   # PT11A	-
LOCATE COMP "PCPIN[5]" SITE "138" ;   # PT11B	-
LOCATE COMP "PCPIN[6]" SITE "133" ;   # PT15A	-
LOCATE COMP "PCPIN[7]" SITE "132" ;   # PT15B	-
LOCATE COMP "PCPIN[8]" SITE "128" ;   # PT18A	PCLKT0_1
LOCATE COMP "PCPIN[9]" SITE "127" ;   # PT18B	PCLKC0_1
LOCATE COMP "PCPIN[10]" SITE "122" ;   # PT25A	-
LOCATE COMP "PCPIN[11]" SITE "121" ;   # PT25B	-
LOCATE COMP "PCPIN[12]" SITE "117" ;   # PT28A	-
LOCATE COMP "PCPIN[13]" SITE "115" ;   # PT28B	-
LOCATE COMP "PCPIN[14]" SITE "114" ;   # PT33A	-
LOCATE COMP "PCPIN[15]" SITE "113" ;   # PT33B	-
LOCATE COMP "PCPIN[16]" SITE "35" ;   # PL25B	-
LOCATE COMP "PCPIN[17]" SITE "34" ;   # PL25A	-
LOCATE COMP "PCPIN[18]" SITE "33" ;   # PL24B	-
LOCATE COMP "PCPIN[19]" SITE "32" ;   # PL24A	-
LOCATE COMP "PCPIN[20]" SITE "26" ;   # PL19B	-
LOCATE COMP "PCPIN[21]" SITE "25" ;   # PL19A	-
LOCATE COMP "PCPIN[22]" SITE "24" ;   # PL17B	-
LOCATE COMP "PCPIN[23]" SITE "23" ;   # PL17A	-
LOCATE COMP "PCPIN[24]" SITE "22" ;   # PL15B	-
LOCATE COMP "PCPIN[25]" SITE "21" ;   # PL15A	-
LOCATE COMP "PCPIN[26]" SITE "20" ;   # PL12B	PCLKC4_0
LOCATE COMP "PCPIN[27]" SITE "19" ;   # PL12A	PCLKT4_0
LOCATE COMP "PCPIN[28]" SITE "14" ;   # PL10B	-
LOCATE COMP "PCPIN[29]" SITE "13" ;   # PL10A	-
LOCATE COMP "PCPIN[30]" SITE "12" ;   # PL9B	-
LOCATE COMP "PCPIN[31]" SITE "11" ;   # PL9A	-
LOCATE COMP "PCPIN[32]" SITE "10" ;   # PL8B	-
LOCATE COMP "PCPIN[33]" SITE "9" ;   # PL8A	-
LOCATE COMP "PCPIN[34]" SITE "6" ;   # PL6B	PCLKC5_0
LOCATE COMP "PCPIN[35]" SITE "5" ;   # PL6A	PCLKT5_0
LOCATE COMP "PCPIN[36]" SITE "4" ;   # PL4B	L_GPLLC_IN
LOCATE COMP "PCPIN[37]" SITE "3" ;   # PL4A	L_GPLLT_IN
LOCATE COMP "PCPIN[38]" SITE "2" ;   # PL3B	L_GPLLC_FB
LOCATE COMP "PCPIN[39]" SITE "1" ;   # PL3A	L_GPLLT_FB
LOCATE COMP "PCPIN[40]" SITE "47" ;   # PB13A	-
LOCATE COMP "PCPIN[41]" SITE "48" ;   # PB13B	-
LOCATE COMP "PCPIN[42]" SITE "49" ;   # PB16A	PCLKT2_0
LOCATE COMP "PCPIN[43]" SITE "50" ;   # PB16B	PCLKC2_0
LOCATE COMP "PCPIN[44]" SITE "52" ;   # PB18A	-
LOCATE COMP "PCPIN[45]" SITE "54" ;   # PB18B	-
LOCATE COMP "PCPIN[46]" SITE "55" ;   # PB23A	PCLKT2_1
LOCATE COMP "PCPIN[47]" SITE "56" ;   # PB23B	PCLKC2_1
LOCATE COMP "PCPIN[48]" SITE "57" ;   # PB26A	-
LOCATE COMP "PCPIN[49]" SITE "58" ;   # PB26B	-
LOCATE COMP "PCPIN[50]" SITE "59" ;   # PB29A	-
LOCATE COMP "PCPIN[51]" SITE "60" ;   # PB29B	-
LOCATE COMP "PCPIN[52]" SITE "61" ;   # PB31A	-
LOCATE COMP "PCPIN[53]" SITE "62" ;   # PB31B	-
LOCATE COMP "PCPIN[54]" SITE "65" ;   # PB35A	-
LOCATE COMP "PCPIN[55]" SITE "67" ;   # PB35B	-
LOCATE COMP "PCPIN[56]" SITE "94" ;   # PR11A	-
LOCATE COMP "PCPIN[57]" SITE "93" ;   # PR11B	-
LOCATE COMP "PCPIN[58]" SITE "92" ;   # PR12A	PCLKT1_0
LOCATE COMP "PCPIN[59]" SITE "91" ;   # PR12B	PCLKC1_0
LOCATE COMP "PCPIN[60]" SITE "86" ;   # PR16A	-
LOCATE COMP "PCPIN[61]" SITE "85" ;   # PR16B	-
LOCATE COMP "PCPIN[62]" SITE "84" ;   # PR17A	-
LOCATE COMP "PCPIN[63]" SITE "83" ;   # PR17B	-
